// out: false
/*
 * @Author: bmqy
 * @Date: 2015-11-30 00:00:00
 * @LastEditTime: 2020-05-22 17:24:40
 * @Description: PC端css模板：grid组件
 */

.grid{
  overflow: hidden;
  &-item{
    float: left;
    width: 33.33333333%;
    position: relative;
  }
  &.grid-gap{
    .clearfix;
    margin-left: -15px;
    .grid-item{
      float: left;
      width: 33.33333333%;
      padding-top: 15px;
      padding-left: 15px;
    }
    &-xs{
      margin-left: -5px;
      .grid-item{
        padding-top: 5px;
        padding-left: 5px;
      }
    }
    &-sm{
      margin-left: -10px;
      .grid-item{
        padding-top: 10px;
        padding-left: 10px;
      }
    }
    &-lg{
      margin-left: -20px;
      .grid-item{
        padding-top: 20px;
        padding-left: 20px;
      }
    }
    &-xl{
      margin-left: -30px;
      .grid-item{
        padding-top: 30px;
        padding-left: 30px;
      }
    }
  }
}