// out: false

/*
 * @Author: bmqy
 * @Date: 2015-11-30 00:00:00
 * @LastEditTime: 2020-06-02 13:39:09
 * @Description: PC端css模板：list表格
 */

/* list */
.list {
  /* 单行文本列表 */
  line-height: 30px;
  >li{    
    position: relative;
  }
  &[class~=list-style-disc],
  &[class~=list-style-circle],
  &[class~=list-style-square]{
    >li{
      padding-left: 15px;
      &::before{
        margin-top: -15px;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }
  }
  &.text-ellipsis{
    >li{
      .text-ellipsis;
    }
  }
  &-style{
    &-disc > li::before{
      content: '•';
    }
    &-circle > li::before{
      content: '◦';
    }
    &-square > li::before{
      content: '▪';      
    }
  }

  /* 图文列表 */
  &-thumbnail{
    /* 上图下文 */
    &-center{      
      .list-thumbnail-item{
        .content{
          margin-top: 10px;       
        }
      }
    }
    /* 左图右文 */
    &-left{
      .list-thumbnail-item{
        .clearfix;
        .thumbnail{
          margin-right: 15px;     
          float: left;
        }
        .content{
          float: left;        
        }
      }
    }
    &-left,
    &-center{
      .content{
        position: relative;
        .top,
        .left,
        .right,
        .bottom{
          position: absolute;
        }
        .top{
          top: 0;
        }
        .left{
          left: 0;
        }
        .right{
          right: 0;
        }
        .bottom{
          bottom: 0;
        }
      }    
      .title{
        font-size: 16px;
      }
      .desc{
        color: @gray;
      }
    }
  }
}

/* 缩略图盒子 */
.thumbnail{      
  overflow: hidden;
  background-color: #e0e0e0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  line-height: 0;
  img{
      max-width: 100%;
      max-height: 100%;
  }
}