// out: false

/*
 * @Author: bmqy
 * @Date: 2015-11-30 00:00:00
 * @LastEditTime: 2020-06-18 17:35:51
 * @Description: PC端css模板：搜索条组件
 */

/* search bar */
.search-bar {
  &-select{
    height: 34px;
    padding: 6px 10px;
    float: left;
    .no-border;
    outline: none;
  }
  &-input{
    height: 34px;
    padding: 6px 10px;
    float: left;
    .no-border;
    outline: none;
    & + .btn{
      margin-left: 0;
      margin-right: 0;
    }
  }
}